/* ====== RESET ====== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    font: 400 1rem var(--body-font);
    color: var(--text-color);
    background: var(--body-color);
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: auto;
}

/* ===== VARIABLES ===== */

:root {
    --header-height: 4.5rem;

    /* Fonts */
    --body-font: 'DM Sans', sans-serif;
    --title-font-size: 1.80rem;
    --subtitle-font-size: 1.125rem;
    --title-font: 'Poppins', sans-serif;

    /* Colors */
    --title-color: hsl(280deg 23% 33%);
    --header-color: hsl(0, 0%, 98%);
    --body-color: hsl(208, 100%, 97%);
    --text-color: hsl(0 0% 46%);
}

/* ====== BASE ====== */

.title {
    font: 700 var(--title-font-size) var(--title-font);
    color: var(--title-color);
    -webkit-font-smoothing: auto;
}


/* ====== LAYOUT ====== */
.container {
    margin: 0 1.5rem;
}

.grid {
    display: grid;
    gap: 2rem;
    /* justify-items: center; */
}

#header {
    width: 100%;
    
    display: flex;
    position: fixed;

    top: 0;
    left: 0;
    z-index: 100;
    background: var(--header-color);
    border-bottom: 1px solid #e4e4e4;
    /* margin-top: 10px; */
    margin-bottom: 2rem;

    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
}

.logo {
    /* font: 700 1.3rem var(--title-font); */
    width: 12rem;
    height: auto;
}

/* Remove list style ol */
ol {
    list-style: none;
}

a.logo img {
    height: var(--header-height);
    display: flex;
    justify-content: center;
}

nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    text-align: center;
}

nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
}

nav .menu ul {
    display: none;
}

/* ==== SHOW MENU ==== */
nav.show .menu {
    opacity: 1;
    visibility: visible;

    background: hsl(210, 4%, 72%);

    height: auto;
    width: 10rem;

    position: fixed;
    top: 4.5rem;
    right: 0;

    display: grid;
}

nav.show .menu ul {
    display: grid;
}

nav.show ul.grid {
    gap: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.show a.title{
    font: 500 1.125rem var(--title-font);
    color: #e4e4e4;
}

.toggle {
    color: #ff1225;
    font-size: 1.5rem;
    cursor: pointer;
}

.toggle #burg {
    font-size: 2rem;
}


.section {
    padding: calc(4rem + var(--header-height)) 0;
    padding-bottom: 3rem;
} 

#FirstSec img.Apres {
    width: 600px;
}

/* ====== FirstSec ====== */

#FirstSec {
    overflow: hidden;
}

/* #FirstSec .image {
    height: auto;
} */

#FirstSec .image img, #FirstSec .image::before {
    border-radius: 0.5rem;
}

#FirstSec .image img {
    position: relative;
    /* right: 2rem; */
}

#FirstSec .texto {
    max-width: 24rem;
    text-align: left;
}

#FirstSec .texto p {
    font: 500 1rem var(--body-font);
}

/* == BEFORE == */
#FirstSec .image::before {
    content: '';
    height: 100%;
    width: 100%;
    max-width: 600px;
    max-height: 330px;

    background: hsl(43, 100%, 63%);
    position: absolute;
    top: 18.7%;
    left: 10.2%;
    z-index: -1;
}


/* ====== FOOTER ====== */

footer.section {
    padding: 4rem 0;
}

@media (min-width: 1200px) {
    
    /* ====== Navigation ====== */
    nav .menu {
        top: 0;
        opacity: 1;
        visibility: visible;
    }

    .toggle {
        display: none;
    }

    nav.show .menu {
        display: none;
    }


    /* nav .menu ul {
        display: flex;
        gap: 2rem;
    } */

    /* #FirstSec .image {
        order: 1;
    } */

    #FirstSec .container {
        grid-auto-flow: column;
        justify-content: space-between;
        margin: 0 auto;
    }

    .container {
        max-width: 1150px;
        margin-left: auto;
        margin-right: auto;
    }

    nav .menu ul {
        display: flex;
        gap: 2rem;
    }

    nav .menu ul li a.title {
        font: 500 1.125rem var(--body-font);  /* 400 1rem */
        -webkit-font-smoothing: antialiased;
    }

    .section {
        padding: 10rem 0 3rem;
    }

    /* ==== FOOTER MEDIA ==== */
    

    footer .container {
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-between;
    }

    footer .sPhase span {
        color: pink;
    }
}

footer.section {
    padding: 2rem 0;
    background-color: #76c37f;
    height: auto;
}

footer.section .grid {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}



/* ===================== JOHNPAGE ======================== */
.section#About{
    display: flex;
    align-items: center;
}

#About .grid {
    justify-items: center;
}

.presentation h2 {
    margin-bottom: 2rem;
}

#Lists .cards.grid {
    padding: 2.225rem 1rem;
    /* grid-auto-flow: column; */
    grid-template-columns: 1fr 1fr 1fr;
}

#Lists .cards.grid {
    gap: 1.125rem;
    border-bottom: 0.25rem solid hsl(345, 50%, 50%);
    border-radius: 0.25rem 0.25rem 0.1rem 0.1rem;
}

/* ===== @MEDIA ===== */
@media (min-width: 1200px) {
    .section#About { 
        padding: 8rem 0 3rem;
    }

    #About .grid {
        display: grid;
        grid-auto-flow: column;
        gap: 4rem;
    }
    
    .section#Lists {
        padding: 0 0 2rem;
    }

    #Lists .container {
        grid-auto-flow: column;
    }

    .Frame1 h3.InvOrder {
        text-align: right;
        margin-right: 1.125rem;
    }  

    .Frame2 h3 {
        margin-left: 1.125rem;
    }

    #Lists .cards.grid {
        gap: 1.125rem;
        border-bottom: 0.25rem solid hsl(345, 50%, 50%);
        border-radius: 0.25rem 0.25rem 0.1rem 0.1rem;
    }

    #Lists .card {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.button {
    height: 3rem;
}

#Lists .Frame1, #Lists .Frame2 {
    box-shadow: 0px 0px 12px rgb(0 0 0/ 10%);
    border-radius: 0.325rem;
}


#About .presentation {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}

/* #About .presentation h2 {
    margin-bottom: 2rem;
} */

#About .profImage img{
    width: 18.75rem;
    height: 18.75rem;
    border-radius: 100%;
}

#About .presentation p {
    font: 500 1.125rem var(--body-font);
}
.section#Lists {
    padding: 0 0 2rem;
}

.card {
    display: flex;
    flex-direction: column;
    /* padding: 1.625rem 0.5rem;  */
    height: 8rem;
    width: 5.625rem;
    box-shadow: 0px 0px 12px rgb(0 0 0/ 10%);
    transition: 0.4s;
    border-radius: 0.25rem 0.325rem;
    text-align: center;
    justify-content: end;
}

.card:hover {
    box-shadow: 0px 0px 16px rgb(0 0 0/ 20%);
}

#Lists .Frame1 p, #Lists .Frame2 p {
    font: 400 0.8rem var(--body-font);  /* 400 1rem */
    -webkit-font-smoothing: antialiased;
}

/* ====== FOOTER JOHNPAGE ====== */

.iconLinks {
   display: flex;
   flex-direction: row;
}

.iconLinks a.icon {
    margin: 0 0.75rem;
}

.iconLinks a.icon img {
    height: 2.3rem;
}

@media (min-width: 1200px) {
    .button {
        height: 3rem;
    }

    #Lists .cards.grid {
        padding: 2.225rem 1rem;
        grid-auto-flow: column;
    }
}

a.icon {
    text-align: center;
}

.button {
    background-color: #e4e4e4;
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.3rem;
    font: 500 1rem var(--body-font);
    transition: background 0.4s;
}

.button:hover {
    background-color: #0baf5d;
    color: #eeeded;
}